[v-cloak] {
  display: none;
}

// Include Mixins
@import 'mixins/__index__';

// Fonts
@include google-font('Raleway:300,400,600');

// Variables
@import 'variables';

// Bootstrap
@import 'node_modules/bootstrap-sass/assets/stylesheets/bootstrap';

.content {
  margin: 20px;
  padding: 20px;
}
