@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,600);
[v-cloak] {
  display: none; }

div.tree-view-wrapper {
  border: 1px solid darkgrey;
  border-radius: 3px;
  background: lightyellow;
  max-height: 400px; }

.tree-view-item-value {
  color: darkslategrey;
  margin-right: 5px;
  font-weight: normal; }

.tree-view-item-key {
  color: royalblue;
  font-size: 14px;
  font-weight: initial; }

.tree-view-item-key-with-chevron {
  color: green;
  font-weight: initial; }

.tree-view-item-key-with-chevron.opened {
  color: orangered;
  font-weight: normal; }

.content {
  margin: 20px;
  padding: 20px; }

body {
  background: lightblue; }
